<div id="<%= dom_id employee %>" style="background-color:#eee; width: 300px; height: 300px; border-radius: 20px; display:flex; justify-content:center; align-items: start; flex-direction:column; margin-left: 20px; padding-left: 30px; margin-bottom: 0px">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

</div>
