<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div style="display: flex">
  <p style="margin-left: 20px; background-color: #2CEC02; width: 150px; padding: 15px; border-radius: 15px;">
    <%= link_to "Edit this employee", edit_employee_path(@employee), style:'color: #fff; text-decoration: none; justify-content: center; align-items: center; display: flex; font-size: 17px; font-family: Arial'%>
  </p>
  <p style="margin-left: 20px; background-color: #00AEC0; width: 150px; padding: 15px; border-radius: 15px;">
    <%= link_to "Back to employees", employees_path, style:'color: #fff; text-decoration: none; justify-content: center; align-items: center; display: flex; font-size: 17px; font-family: Arial' %>
  </p>
</div>
<div>
  <%= button_to "Destroy this employee", @employee, method: :delete, style:"margin-left: 20px; background-color: red; width: 380px; padding: 15px; border-radius: 15px; color: #fff; border: none; font-size: 16px"%>
</div>